:root {
    --border: solid 1px var(--border-color);
    --btn-border: solid 1px var(--btn-border-color);

    --header-bg-color: black;
    --header-font-color: white;
    --main-bg-color: black;
    --main-font-color: white;
    --footer-bg-color: black;
    --footer-font-color: white;
    --border-color: white;
    --attention-font-color: yellow;
    --warning-font-color: red;
    --low-font-color: rgb(128, 128, 128);
    --link-font-color: rgb(29, 150, 255);
    --visited-link-color: rgb(155, 0, 255);
    --btn-bg-color: white;
    --btn-active-color: rgb(200, 200, 200);
    --btn-font-color: black;
    --btn-border-color: rgb(128, 128, 128);
    --index-hover-color: rgba(128, 128, 128, 0.15);
    --index-shadow-color: rgba(128, 128, 128, 0.5);
    --index-shadow-low-color: rgba(128, 128, 128, 0.3);
    --pager-hover-bg-color: white;
    --pager-hover-font-color: black;
}

$header-height: 60px;
$footer-height: 3rem;

body {
    background-color: var(--header-bg-color);

    #root {
        header {
            height: $header-height;
            border-bottom: var(--border);
            background-color: var(--header-bg-color);
            color: var(--header-font-color);
            display: flex;

            div#header-left {
                width: 20%;
                height: $header-height;

                h1 {
                    height: $header-height;
                    width: 100%;

                    a {
                        display: inline-block;
                        height: $header-height;

                        svg#logo-img {
                            height: $header-height;
                            width: 100%;
                            padding: 3%;

                            & * {
                                fill: var(--header-font-color);
                            }
                        }
                    }
                }
            }

            div#header-center {
                width: 20%;

                div#login-user {
                    height: $header-height;
                    display: table-cell;
                    vertical-align: middle;
                }
            }

            div#header-right {
                width: 60%;
                text-align: right;
                padding: 10px;

                a {
                    display: inline-block;
                    text-align: center;
                    border: var(--border);
                    border-color: var(--header-font-color);
                    border-radius: 10px;
                    margin-right: 10px;
                    text-decoration: none;
                    color: inherit;

                    span {
                        display: table-cell;
                        width: 5em;
                        vertical-align: middle;
                        height: calc($header-height - 23px);
                    }

                    &#current {
                        background: var(--low-font-color);
                    }
                }
            }
        }

        main {
            padding: 20px 50px;
            // 100vh - header - footer
            min-height: calc(100vh - $header-height - $footer-height);
            background-color: var(--main-bg-color);
            color: var(--main-font-color);

            #index-nav {
                text-align: center;

                a.index-link {
                    border: solid 1px var(--main-font-color);
                    border-radius: 10px;
                    display: inline-block;
                    color: var(--main-font-color);
                    padding: 20px;
                    width: 15em;
                    height: 15em;
                    text-decoration: none;
                    margin: 20px;
                    box-shadow: 10px 10px 5px var(--index-shadow-color), -10px -10px 5px var(--index-shadow-low-color);
                    transition-property: box-shadow;
                    transition-duration: 2.0s;

                    &:hover {
                        box-shadow: 10px 10px 5px var(--index-shadow-color), -10px -10px 5px var(--index-shadow-low-color),
                            inset 15em 0 var(--index-hover-color), inset -15em 0 var(--index-hover-color),
                            inset 0 15em var(--index-hover-color), inset 0 -15em var(--index-hover-color);
                        transition-property: box-shadow;
                        transition-duration: 1.5s;
                    }

                    div {
                        // width: 13rem;

                        &.link-icon {
                            text-align: center;
                            font-size: 8em;
                        }

                        &.link-text {
                            text-align: center;
                        }
                    }

                }
            }

            #question-view {
                padding: 20px;
                border: var(--border);
                border-radius: 20px;

                #question-status {
                    font-size: 0.5em;
                    color: var(--low-font-color);

                    span {
                        display: inline-block;
                        margin-right: 2em;
                    }
                }

            }

            #view-exam {
                #exam-status {
                    font-size: 0.5em;
                    color: var(--low-font-color);

                    span {
                        display: inline-block;
                        margin-right: 2em;
                    }
                }
            }

            #question-inputs {
                ul#check-list {
                    li.warning {
                        color: var(--warning-font-color);
                    }
                }
            }

            #search-questions-form {
                margin-bottom: 1em;
                border: var(--border);
                border-radius: 10px;
                padding: 20px;
                padding-top: 0;
            }

            #questions-list {
                .question-card {
                    border: var(--border);
                    border-radius: 10px;
                    margin-bottom: 20px;
                    padding: 20px;

                    .qt-head {
                        h3 {
                            span.qt-title {
                                display: inline-block;
                                width: calc(100% - 6.3rem);
                            }

                            span.qt-timestamp {
                                display: inline-block;
                                color: var(--low-font-color);
                                font-size: 0.5em;
                                width: 6.3rem;
                                // text-decoration: none!important;kikanai
                                // border: var(--border);
                            }
                        }
                    }

                    .qt-poster {
                        border: var(--border);
                        display: flex;
                        border-radius: 10px;

                        p, a {
                            padding: 10px;

                            &:first-child {
                                width: calc(22px + 3em);
                                border-right: var(--border);
                            }

                            &:last-child {
                                width: calc(100% - 22px - 3em);
                            }
                        }
                    }

                    .qt-status {
                        margin-top: 1em;
                        display: flex;

                        &>div {
                            width: calc((100% - 3em) / 4);
                            border: var(--border);
                            border-radius: 10px;
                            margin-right: 1em;
                            height: 5em;
                            display: table;

                            &:last-child {
                                margin-right: 0;
                            }

                            &>div {
                                display: table-cell;
                                vertical-align: middle;
                                text-align: center;

                                span {
                                    font-size: 2em;
                                    color: var(--attention-font-color);
                                }
                            }
                        }
                    }

                    .my-question-links {
                        margin-top: 1em;
                        display: flex;

                        &>div {
                            display: table;
                            width: calc((100% - 3em) / 4);
                            border: var(--border);
                            border-radius: 10px;
                            margin-right: 1em;
                            height: 5em;

                            &:last-child {
                                margin-right: 0;
                            }

                            a {
                                display: table-cell;
                                vertical-align: middle;
                                text-align: center;
                            }

                        }
                    }
                }
            }

            #view-my-exams {
                div#exams-list {
                    section {
                        border: var(--border);
                        border-radius: 10px;
                        margin-bottom: 20px;
                        padding: 20px;

                        h3 {
                            span:first-child {
                                display: inline-block;
                                width: calc(100% - 6.3rem);
                            }

                            span:last-child {
                                display: inline-block;
                                color: var(--low-font-color);
                                font-size: 0.5em;
                                width: 6.3rem;
                            }
                        }

                        div.exam-foot {
                            margin-top: 1em;
                            display: flex;

                            &>div {
                                display: table;
                                width: calc((100% - 2em) / 3);
                                border: var(--border);
                                border-radius: 10px;
                                margin-right: 1em;
                                height: 3em;

                                &:last-child {
                                    margin-right: 0;
                                }

                                span, a {
                                    display: table-cell;
                                    vertical-align: middle;
                                    text-align: center;
                                }

                            }
                        }
                    }
                }
            }

            #style-manage {
                table#styles-table {
                    border: var(--border);
                    // -ms-writing-mode: tb-lr;
                    writing-mode: vertical-lr;
                    border-collapse: collapse;

                    th, td {
                        // -ms-writing-mode: lr-tb;
                        border-bottom: var(--border);
                        border-right: var(--border);
                        writing-mode: horizontal-tb;
                        padding: 0.2em;
                        text-align: left;

                        input[type="text"] {
                            &:first-child {
                                width: 2em;
                            }

                            &:last-child {
                                width: calc(100% - 2em);
                            }
                        }
                    }
                }
            }

            #post-exam, #edit-exam {
                div#limit-y-table {
                    max-height: 15em;
                    overflow-y: scroll;
                }
            }
        }

        footer {
            height: $footer-height;
            border-top: var(--border);
            background-color: var(--footer-bg-color);
            color: var(--footer-font-color);
            text-align: center;
            font-size: 0.5rem;
        }
    }
}


/**
* global styles
*/

.row {
    display: flex;
    margin: 20px;

    @for $i from 1 through 24 {
        .col-#{$i} {
            width: calc(100% / 24 * #{$i});
        }

        .offset-#{$i} {
            margin-left: calc(100% / 24 * #{$i});
        }
    }
}

.error-message {
    color: var(--attention-font-color);
    animation: error-anim 1s linear;
}

@keyframes error-anim {
    0% {
        color: var(--warning-font-color);
    }

    100% {
        color: var(--attention-font-color);
    }
}

.text-link {
    color: var(--link-font-color);

    &.hover:hover {}

    &.visited:visited {
        color: var(--visited-link-color);
    }
}

.double-quotation {
    margin: 0 0.5em;

    &:before, &:after {
        content: '"';
    }
}

.btn {
    padding: 0.5em;
    border-radius: 10px;
    background-color: var(--btn-bg-color);
    color: var(--btn-font-color);
    border: var(--btn-border);
    display: inline-block;
    text-align: center;

    &:active {
        background-color: var(--btn-active-color);
    }
}

.btn-full {
    width: 100%;
}


input[type="text"], input[type="password"], input[type="number"], textarea {
    width: 100%;
    padding: 0.5em;
    border-radius: 10px;
    border: var(--border);
}

select {
    padding: 0.5em;
    border-radius: 10px;
}

span.label-checkbox, span.label-radio {
    display: inline-block;
    padding-left: 2px;
    padding-right: 5px;
    border-radius: 5px;

    &:hover {
        background: rgb(128, 128, 128);
    }
}

h2, h3, h4, h5, h6 {
    border-bottom: var(--border);
    margin-bottom: 1em;
}

hr {
    border: none;
    border-bottom: var(--border);
    margin: 1em 0;
}

#search-status {
    border: var(--border);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 0;
}

nav.pager {
    border: var(--border);
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
    text-align: center;

    a {
        display: inline-block;
        // padding: 5px;
        text-align: center;
        border: var(--border);
        border-radius: 10px;
        padding: 5px 0;
        width: 2em;
        margin-right: 5px;
        color: var(--main-font-color);
        text-decoration: none;

        transition-property: background, color;
        transition-duration: 2s;

        &:last-child {
            margin-right: 0;
        }

        &.now-page {
            color: red;
        }

        &:hover {
            transition-property: background color;
            transition-duration: 0.5s;
            background: var(--pager-hover-bg-color);
            color: var(--pager-hover-font-color);
        }
    }
}

.io-block {
    padding: 10px;
    border-left: 5px gray solid;
    background: rgba(128, 128, 128, 0.5);
    white-space: pre-wrap;
}

.exec-result-accepted {
    background: rgba(0, 200, 0, 0.3);
}

.exec-result-wrong {
    background: rgba(200, 0, 0, 0.3);
}

#exec-confirm-result {
    margin-top: 1em;
    border: var(--border);
    border-radius: 20px;
    padding: 20px;

    div {
        padding: 20px;

        table {
            width: 100%;

            tr {
                th {
                    width: 6em;
                    text-align: left;
                }
            }
        }
    }
}

#view-answer {
    table {
        th {
            &:first-child {
                width: 4em;
            }

            &:nth-child(2) {
                width: 5em;
            }
        }
    }
}

span.exec-status {
    span.exec-status-description {
        position: absolute;
        background: white;
        color: black;
        padding: 5px;
        font-size: 0.5em;
        display: none;
        border-radius: 5px;
        margin-left: 5px;
    }

    &:hover {
        span.exec-status-description {
            display: inline-block;
        }
    }
}

.table {
    width: 100%;
    border-collapse: collapse;

    td, th {
        border: var(--border);
        padding: 5px;
    }
}

table.exec-statues-color-view {
    td {
        height: 1em;
        width: 1em;
    }
}

.hidden-wrapper {
    .hidden-text {
        display: none;
    }

    &:hover {
        .hidden-text {
            display: inline-block;
            position: absolute;
            background: white;
            color: black;
            font-size: 0.8em;
            border-radius: 5px;
            padding: 2px 5px;
            margin-top: 1em;
        }
    }
}

ul {
    list-style-position: inside;
}

div#answer-modal {
    &>div {
        position: fixed;

        &#modal-back {
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
        }

        &#modal-content {
            top: 5vh;
            left: 5vw;
            height: 90vh;
            width: 90vw;
            background: var(--main-bg-color);
            border-radius: 20px;
            box-shadow: 10px 10px 5px var(--index-shadow-color), -10px -10px 5px var(--index-shadow-low-color);
            padding: 20px;
            overflow-y: scroll;

            .judge {
                padding: 10px;
                border-radius: 10px;
            }
        }
    }
}

.ta-right {
    text-align: right;
}

span[data-no="1"] {
    background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
    -webkit-background-clip: text;
    color: transparent;
}

span[data-no="2"] {
    background: repeating-linear-gradient(0deg, #757575 0.1em, #9E9E9E 0.2em, #E8E8E8 0.3em, #9E9E9E 0.4em, #757575 0.5em);
    -webkit-background-clip: text;
    color: transparent;
}

span[data-no="3"] {
    background: repeating-linear-gradient(0deg, #C62828 0.1em, #EF5350 0.2em, #FFEBEE 0.3em, #EF5350 0.4em, #C62828 0.5em);
    -webkit-background-clip: text;
    color: transparent;
}

.markdown {
    pre:has(code), blockquote {
        padding: 10px;
        border-left: 5px gray solid;
        background: rgba(128, 128, 128, 0.5);
        white-space: pre-wrap;
    }

    p {
        code {
            background: rgba(128, 128, 128, 0.5);
            padding-right: 5px;
            margin-right: 2px;
            padding-left: 5px;
            margin-left: 2px;
            color: var(--warning-font-color);
            border-radius: 5px;
        }
    }

    em {
        color: var(--attention-font-color);
    }
}