:root {
    --header-bg-color: black;
    --header-font-color: white;

    --main-bg-color: black;
    --main-font-color: white;

    --footer-bg-color: black;
    --footer-font-color: white;

    --border-color: white;
    --border: solid 1px var(--border-color);

    --prominent-font-color: yellow;
    --prominent-font-color-prev: red;

    --low-font-color: rgb(128, 128, 128);
    --link-font-color: rgb(29, 150, 255);

    --btn-bg-color: white;
    --btn-font-color: black;
    --btn-border-color: rgb(128, 128, 128);
    --btn-border: solid 1px var(--btn-border-color);
    // --simple-btn-shadow: 
}

$header-height: 60px;
$footer-height: 3rem;

body {
    background-color: var(--header-bg-color);

    #root {
        header {
            height: $header-height;
            border-bottom: var(--border);
            background-color: var(--header-bg-color);
            color: var(--header-font-color);
            display: flex;

            div#header-left {
                width: 20%;
                height: $header-height;

                h1 {
                    height: $header-height;
                    width: 100%;

                    a {
                        display: inline-block;
                        height: $header-height;
                        // width: 100%;

                        img#logo-img {
                            height: $header-height;
                            width: 100%;
                        }
                    }
                }
            }

            div#header-center {
                width: 20%;

                div#login-user {
                    height: $header-height;
                    display: table-cell;
                    vertical-align: middle;
                }
            }

            div#header-right {
                width: 60%;
                text-align: right;
                padding: 10px;

                a {
                    display: inline-block;
                    text-align: center;
                    border: var(--border);
                    border-radius: 10px;
                    margin-right: 10px;
                    text-decoration: none;
                    color: inherit;

                    span {
                        display: table-cell;
                        width: 5em;
                        vertical-align: middle;
                        height: calc($header-height - 23px);
                    }

                    &#current {
                        background: var(--low-font-color);
                    }
                }
            }
        }

        main {
            padding: 20px 50px;
            // 100vh - header - footer
            min-height: calc(100vh - $header-height - $footer-height);
            background-color: var(--main-bg-color);
            color: var(--main-font-color);
        }

        footer {
            height: $footer-height;
            border-top: var(--border);
            background-color: var(--footer-bg-color);
            color: var(--footer-font-color);
            text-align: center;
            font-size: 0.5rem;
        }
    }
}

.row {
    display: flex;
    margin: 20px;

    @for $i from 1 through 24 {
        .col-#{$i} {
            width: calc(100% / 24 * #{$i});
        }

        .offset-#{$i} {
            margin-left: calc(100% / 24 * #{$i});
        }
    }
}

.error-message {
    color: var(--prominent-font-color);
    animation: error-anim 1s linear;
}

@keyframes error-anim {
    0% {
        color: var(--prominent-font-color-prev);
    }

    100% {
        color: var(--prominent-font-color);
    }
}

.text-link {
    color: var(--link-font-color);

    &.hover:hover {}

    &.visited:visited {
        color: rgb(155, 0, 255);
    }
}

.btn {
    padding: 0.5em;
    border-radius: 10px;
    background-color: var(--btn-bg-color);
    color: var(--btn-font-color);
    border: var(--btn-border);
    display: inline-block;
    text-align: center;
}

.btn-full {
    width: 100%;
}


input[type="text"], input[type="password"], input[type="number"], textarea {
    width: 100%;
    padding: 0.5em;
    border-radius: 10px;
    border: var(--border);
    // background-color: var(--low-bg-color);
}

select {
    padding: 0.5em;
    border-radius: 10px;
}

span.check-label, span.radio-label {
    display: inline-block;
    // margin-right: 1em;
    padding-left: 2px;
    padding-right: 5px;
    border-radius: 5px;

    &:hover {
        background: rgb(128, 128, 128);
    }
}